data/test/flows.json
[
    {
        "id": "7c7a09edf982e2f4",
        "type": "tab",
        "label": "全局配置(TEST)",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "19f64249bd0b1250",
        "type": "tab",
        "label": "长乐小镇美术馆空调",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5cebb8291db047dc",
        "type": "tab",
        "label": "订阅发布",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a7e9ad408343191c",
        "type": "tab",
        "label": "入网脱网",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "183e27ab6ab701b7",
        "type": "tab",
        "label": "终端指令",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "457c9236f8ae8f18",
        "type": "tab",
        "label": "普米白板",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9da2418aa0a6b57e",
        "type": "tab",
        "label": "海信空调",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "faa93e460ff11a6c",
        "type": "tab",
        "label": "云启设备",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "35c66c9d9511a052",
        "type": "tab",
        "label": "微信测试",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e150bfc8bf45e848",
        "type": "tab",
        "label": "测试设备",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "acbe893ce0e86722",
        "type": "mqtt-broker",
        "name": "south",
        "broker": "push-access.sdp.101.com",
        "port": "1780",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "b5ef31a7a90ee4e8",
        "type": "mqtt-broker",
        "name": "north",
        "broker": "push-access.sdp.101.com",
        "port": "1780",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "66b4785037bf6386",
        "type": "mqtt-broker",
        "name": "south_output",
        "broker": "push-access.sdp.101.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "e17e911f7907092f",
        "type": "mqtt-broker",
        "name": "north_output",
        "broker": "push-access.sdp.101.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "ec385154ba1b4fae",
        "type": "mqtt-broker",
        "name": "bemfa",
        "broker": "bemfa.com",
        "port": "9501",
        "clientid": "aa11295e7e7a275d41580a1fbdc787ec",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f544f205.d51a7",
        "type": "inject",
        "z": "7c7a09edf982e2f4",
        "name": "初始化",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "683f9c514d3dc3f8"
            ]
        ]
    },
    {
        "id": "52f82eb73840e302",
        "type": "OS",
        "z": "7c7a09edf982e2f4",
        "name": "",
        "x": 410,
        "y": 100,
        "wires": [
            [
                "705cd1a4e7548610"
            ]
        ]
    },
    {
        "id": "705cd1a4e7548610",
        "type": "change",
        "z": "7c7a09edf982e2f4",
        "name": "OS",
        "rules": [
            {
                "t": "set",
                "p": "os",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 100,
        "wires": [
            [
                "c27b74647cc92e82"
            ]
        ]
    },
    {
        "id": "c27b74647cc92e82",
        "type": "home-dir",
        "z": "7c7a09edf982e2f4",
        "x": 700,
        "y": 100,
        "wires": [
            [
                "3e822ed879b8777e"
            ]
        ]
    },
    {
        "id": "3e822ed879b8777e",
        "type": "change",
        "z": "7c7a09edf982e2f4",
        "name": "datadir",
        "rules": [
            {
                "t": "set",
                "p": "os.datadir",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 100,
        "wires": [
            [
                "c0624055eec65ac4"
            ]
        ]
    },
    {
        "id": "f70a2bb4819417da",
        "type": "link out",
        "z": "7c7a09edf982e2f4",
        "name": "配置完成",
        "mode": "link",
        "links": [
            "3fdb98726d73125a",
            "906bb62a708b4c0c",
            "b2168926188a5904"
        ],
        "x": 825,
        "y": 600,
        "wires": []
    },
    {
        "id": "4aa5b949a197bcb7",
        "type": "inject",
        "z": "7c7a09edf982e2f4",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "data",
        "payloadType": "global",
        "x": 180,
        "y": 900,
        "wires": [
            [
                "61299e55f08ac3e1"
            ]
        ]
    },
    {
        "id": "61299e55f08ac3e1",
        "type": "debug",
        "z": "7c7a09edf982e2f4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 900,
        "wires": []
    },
    {
        "id": "c0624055eec65ac4",
        "type": "function",
        "z": "7c7a09edf982e2f4",
        "name": "配置文件",
        "func": "\nreturn {\n    filename: env.get(\"IOT_CONFIG_FILE\")\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 200,
        "wires": [
            [
                "387bc8ba683df91f",
                "24fcf5b3907cffbb"
            ]
        ]
    },
    {
        "id": "874e2ff0304f3dd7",
        "type": "json",
        "z": "7c7a09edf982e2f4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 830,
        "y": 200,
        "wires": [
            [
                "292cc7137106f66e"
            ]
        ]
    },
    {
        "id": "387bc8ba683df91f",
        "type": "file in",
        "z": "7c7a09edf982e2f4",
        "name": "读配置文件",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 670,
        "y": 200,
        "wires": [
            [
                "874e2ff0304f3dd7"
            ]
        ]
    },
    {
        "id": "292cc7137106f66e",
        "type": "function",
        "z": "7c7a09edf982e2f4",
        "name": "数据初始化",
        "func": "let config = msg.payload.edge;\n\nlet _ids = global.get(\"ids\");\n\nObject.keys(config.global).forEach(key => {\n    global.set(key, config.global[key])\n})\n\nlet data = global.get(\"data\");\nif (_ids) global.set(\"ids\", _ids);\nlet ids = global.get(\"ids\");\n\n\n// let host = env.get(\"HOSTNAME\") || env.get(\"COMPUTERNAME\");\n// ids.edg = ids.edg.replace(\"{HOSTNAME}\", host);\n\nlet app = data.app;\nlet dom = app.domain;\nlet dsp = dom.dispatcher;\nlet edg = dsp.edge;\n\n\ndata.dispatcher = dsp;\ndata.edge = edg;\ndata.devices = edg.devices;\ndata.mqtt = edg.mqtt;\ndata.topics = edg.mqtt.topics;\ndata.mongodb = edg.mongodb;\ndata.shadows = edg.shadows;\ndata.ids = ids;\n\n\nreturn {payload: data};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 360,
        "wires": [
            [
                "0666cb29a70a9804"
            ]
        ]
    },
    {
        "id": "068d75ddb00dcc52",
        "type": "debug",
        "z": "7c7a09edf982e2f4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 680,
        "wires": []
    },
    {
        "id": "32b635bc5bbe8de1",
        "type": "function",
        "z": "7c7a09edf982e2f4",
        "name": "展开主题函数",
        "func": "let data = global.get(\"data\");\nlet common = global.get(\"common\");\nlet gids = global.get(\"ids\");\n\n\nlet expandTopic = {\n    expandStr : function(v, _ids) {\n        let ids = Object.assign({}, gids);\n        ids = Object.assign(ids, _ids || {});\n\n        if (typeof v == \"string\") {\n            v = v.replace(/\\{APP_ID\\}/g, env.get(\"IOT_APP_ID\") || \"\");\n            v = v.replace(/\\{DOM_ID\\}/g, env.get(\"IOT_DOM_ID\") || \"\");\n            v = v.replace(/\\{DSP_ID\\}/g, env.get(\"IOT_DSP_ID\") || \"\");\n            v = v.replace(/\\{EDG_ID\\}/g, env.get(\"IOT_EDG_ID\") || \"\");\n            v = v.replace(/\\{DIO_ID\\}/g, env.get(\"IOT_DIO_ID\") || \"\");\n            v = v.replace(/\\{PLF_ID\\}/g, env.get(\"IOT_PLF_ID\") || \"\");\n            v = v.replace(/\\{HOSTNAME\\}/g, env.get(\"HOSTNAME\") || env.get(\"COMPUTERNAME\") || \"\");\n            \n            v = v.replace(/\\{app\\}/g, ids.app || \"\");\n            v = v.replace(/\\{dom\\}/g, ids.dom || \"\");\n            v = v.replace(/\\{dsp\\}/g, ids.dsp || \"\");\n            v = v.replace(/\\{edg\\}/g, ids.edg || \"\");\n            v = v.replace(/\\{dio\\}/g, ids.dio || \"\");\n            v = v.replace(/\\{plf\\}/g, ids.plf || \"\");\n            if (ids.dev)\n                v = v.replace(/\\{dev\\}/g, ids.dev || \"\");\n        }\n        return v;\n    },\n    expandArray : function(v, _ids) {\n        if (Array.isArray(v)) {\n            for(let i=0; i < v.length; i++) {\n                v[i] = this.expand(v[i], _ids);\n            }\n        }\n        return arr;\n    },\n    expandObj : function(v, _ids) {\n        if (typeof v == \"object\") {\n            let keys = Object.keys(v);\n            keys.forEach(k => {\n                v[k] = this.expand(v[k], _ids);\n            });\n        }\n        return v;        \n    },\n    expand : function(v, _ids) {\n        if (typeof v == \"string\")\n            v = this.expandStr(v, _ids);\n                    \n        if (Array.isArray(v)) {\n            v = expandArray(v, _ids);\n        }\n        \n        if (typeof v == \"object\") {\n            v = this.expandObj(v, _ids)\n        }\n                \n        return v\n    }\n}\n    \n\n\ncommon.expandTopic = expandTopic;\n\nreturn {payload: data};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 400,
        "wires": [
            [
                "28f0789e7c6d7af0"
            ]
        ]
    },
    {
        "id": "28f0789e7c6d7af0",
        "type": "function",
        "z": "7c7a09edf982e2f4",
        "name": "缓存数据函数",
        "func": "let data = global.get(\"data\");\nlet common = global.get(\"common\");\n\nlet online = function(){\n    let events = this.events;\n    if (events && events.status)\n        return events.status.pld.online;\n    return 0;\n}\n\nlet cachePayload = function(payload) {\n    let hd = payload.hd;\n    let pld = payload.pld;\n    if (hd.from.type == \"dev\") {\n        let dysub = false;\n        let dev = data.devices[hd.from.id];\n        if (!dev) {\n            dev = {};\n            dysub = true;\n        }\n        dev.id = hd.from.id;\n        dev.events = dev.events || {};\n        if (hd.from.pid)\n            dev.pid = hd.from.pid;\n        dev.events[hd.entry.id] = payload;\n        dev.online = online;\n        data.devices[hd.from.id] = dev;\n        if (dysub) node.send({device: dev}, null);\n    }\n    \n    let dsp = data.dispatcher;\n    if (hd.from.type == \"dsp\" && hd.from.id == dsp.id ) {\n        if (hd.entry.type == \"evt\"){\n            dsp.events = dsp.events || {};\n            dsp.events[hd.entry.id] = payload;\n            dsp.online = online;\n        }\n    }\n}\n\ncommon.cachePayload = cachePayload;\n\nreturn [null, {payload: data}];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 440,
        "wires": [
            [
                "b15bbbcec428c762"
            ],
            [
                "53f8f8933a1a8726"
            ]
        ]
    },
    {
        "id": "53f8f8933a1a8726",
        "type": "function",
        "z": "7c7a09edf982e2f4",
        "name": "键值转ID函数",
        "func": "let common = global.get(\"common\");\n\nlet keyToObjId = function(objs) {\n        let keys = Object.keys(objs);\n        keys.forEach(key => {\n            let obj = objs[key];\n            if (typeof obj == \"object\") \n                obj.id = key;\n        })        \n    }\n\n\ncommon.keyToObjId = keyToObjId;\n\nreturn {payload: common};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 480,
        "wires": [
            [
                "c983ab7963d0f975"
            ]
        ]
    },
    {
        "id": "c983ab7963d0f975",
        "type": "function",
        "z": "7c7a09edf982e2f4",
        "name": "获取HD主题函数",
        "func": "let common = global.get(\"common\");\nlet ids = global.get(\"data\").ids;\n\nlet getHDTopic = function(hd) {\n    let tpc = \"\";\n    if (!hd.pref) hd.pref = {};\n    if (!hd.pref.app) hd.pref.app = (ids.app ? ids.app : \"0\");\n    if (!hd.pref.dom) hd.pref.dom = (ids.dom ? ids.dom : \"0\");\n    \n    if (!hd.from) hd.from = {};\n    if (!hd.from.type) hd.from.type = \"edg\";\n    if (!hd.from.id) hd.from.id = ids.edg;\n    if (!hd.to) hd.to = {};\n    if (!hd.to.type) hd.to.type = \"0\";\n    if (!hd.to.id) hd.to.id = \"0\";\n    if (!hd.entry) hd.entry = {};\n    if (!hd.entry.type) hd.entry.type = \"0\";\n    if (!hd.entry.id) hd.entry.id = \"0\";\n    if (!hd.sid) hd.sid = \"0\";\n    if (!hd.stp) hd.stp = 0;\n    if (!hd.version) hd.version = global.get(\"version\")\n\n    tpc =   hd.pref.app + \"/\" + hd.pref.dom + \"/\" + \n            hd.from.type + \"/\" + hd.from.id + \"/\" + \n            hd.to.type + \"/\" + hd.to.id + \"/\" + \n            hd.entry.type + \"/\" + hd.entry.id;\n    return tpc;\n}\n\n\ncommon.getHDTopic = getHDTopic;\n\nreturn {payload: common};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 520,
        "wires": [
            [
                "a135c4a79efe2dc9"
            ]
        ]
    },
    {
        "id": "a135c4a79efe2dc9",
        "type": "function",
        "z": "7c7a09edf982e2f4",
        "name": "Z3协调器初始化函数",
        "func": "let data = global.get(\"data\");\nlet common = global.get(\"common\");\nlet os = global.get(\"os\");\nlet devices = data.devices;\nlet topics = data.topics;\nlet edgz2m =  data.edge.z2m;\nlet tcpPort = edgz2m.tcpPort;\nlet frontendPort = edgz2m.frontendPort;\nlet z2mDir = edgz2m.z2mDir;\nlet dataDir = edgz2m.dataDir;\nif (os.platform == \"win32\") {\n    z2mDir = edgz2m.z2mDir_win;\n    dataDir = edgz2m.dataDir_win;   \n}\n\nlet running = function() {\n    return  this.z2m && this.z2m.status && \n            (this.z2m.status == \"running\" || this.z2m.status == \"online\")\n}\n\nlet setDevice = (device) => {\n    let devDataDir = dataDir + \"/\" + device.id; \n    let spawnArgs = \"../zigbee2mqtt/index.js\";\n    let execStr = \"cd \" + z2mDir;\n    if (os.platform == \"win32\"){\n        execStr =execStr + \"&& set ZIGBEE2MQTT_DATA=\" + devDataDir;\n        execStr =execStr + \"&& npm start\";\n    } else {\n        execStr =execStr + \"&& ZIGBEE2MQTT_DATA=\" + devDataDir;\n        execStr =execStr + \" npm start\";\n    }\n\n    let z2m = device.z2m || {};\n    z2m.tcp = {\n            port: tcpPort,\n            status: null\n        };\n    z2m.z2m = {\n            configuration: {\n                mqtt: {\n                    base_topic: device.id,\n                    server: \"mqtt://127.0.0.1:1883\",\n                    user: \"device\"\n                },\n                serial: {\n                    port: \"tcp://127.0.0.1:\" + (tcpPort++)\n                },\n                frontend: {\n                    port: (frontendPort++)\n                }\n            },\n\n            datadir: devDataDir,\n            configfile: \"configuration.yaml\",\n            configfullfile: devDataDir + \"/configuration.yaml\",\n            databasefile: \"database.db\",\n            databasefullfile: devDataDir + \"/database.db\",\n            backfilenames:[\"configuration.yaml\",\"database.db\", \"coordinator_backup.json\"],\n            backfiles: {},\n            exec: execStr,\n            spawn: spawnArgs,\n            status: null,\n            datafile: z2m.z2m && z2m.z2m.datafile\n        };\n    z2m.running = running;\n    device.z2m = z2m;\n}\n\n\nlet initZ2MDevice = function(did) {\n    let device = devices[did];\n    if (device && (!device.z2m || !device.z2m.tcp || !device.z2m.z2m)) {\n        setDevice(device);\n    }\n    \n    return device;\n}\n\n\nlet getZ2MStatus = function(did, status) {\n    let device = devices[did];\n    if (device && device.z2m && device.z2m.z2m) {\n        return device.z2m.z2m.status\n    }\n}\n\nlet setZ2MStatus = function(did, status) {\n    let device = devices[did];\n    if (device && device.z2m && device.z2m.z2m) {\n        device.z2m.z2m.status = status\n    }\n    \n    return device;\n}\n\n\ncommon.initZ2MDevice = initZ2MDevice;\ncommon.setZ2MStatus = setZ2MStatus;\ncommon.getZ2MStatus = getZ2MStatus;\n\nreturn {payload: common};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 560,
        "wires": [
            [
                "37b0602a95288c0b"
            ]
        ]
    },
    {
        "id": "f77d15f0cc88c3d7",
        "type": "function",
        "z": "7c7a09edf982e2f4",
        "name": "数据补全",
        "func": "let data = global.get(\"data\");\nlet common = global.get(\"common\");\n\ncommon.expandTopic.expand(data.ids);    \ncommon.expandTopic.expand(data.topics.subs);\ncommon.expandTopic.expand(data.topics.services);\ncommon.keyToObjId(data.devices);\n\ndata.app.id = data.ids.app;\ndata.domain.id = data.ids.dom;\ndata.dispatcher.id = data.ids.dsp;\ndata.edge.id = data.ids.edg;\n\n\n\nreturn {payload: data};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 640,
        "wires": [
            [
                "068d75ddb00dcc52",
                "f70a2bb4819417da"
            ]
        ]
    },
    {
        "id": "683f9c514d3dc3f8",
        "type": "change",
        "z": "7c7a09edf982e2f4",
        "name": "version",
        "rules": [
            {
                "t": "set",
                "p": "version",
                "pt": "global",
                "to": "0.0.1",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "ids",
                "pt": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 100,
        "wires": [
            [
                "52f82eb73840e302"
            ]
        ]
    },
    {
        "id": "2a5bed3b693562e4",
        "type": "link out",
        "z": "7c7a09edf982e2f4",
        "name": "设备状态订阅",
        "mode": "link",
        "links": [
            "1fbea7baf2a0c450"
        ],
        "x": 825,
        "y": 440,
        "wires": []
    },
    {
        "id": "b15bbbcec428c762",
        "type": "function",
        "z": "7c7a09edf982e2f4",
        "name": "订阅上下线主题",
        "func": "let data = global.get(\"data\");\nlet common = global.get(\"common\");\nlet topic;\nlet ids = {};\nif (msg.dispatcher) {\n    topic = data.topics.dysubs.dsp_evt_status;\n    ids.dsp = msg.dispatcher.id;\n}\n\nif (msg.edge) {\n    topic = data.topics.dysubs.edg_evt_status;\n    ids.edg = msg.edge.id;    \n}\n\nif (msg.device) {\n    topic = data.topics.dysubs.dev_evt_status;\n    ids.dev = msg.device.id;    \n}\n\nif (msg.platform) {\n    topic = data.topics.dysubs.plf_evt_status;\n    ids.plf = msg.platform.id;      \n}\n\nif (topic) {\n    topic = common.expandTopic.expandStr(topic, ids);\n\n    node.send({\n            action: \"unsubscribe\",\n            topic: topic\n    })\n    \n    node.send({\n            action: \"subscribe\",\n            topic: topic\n    })\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 440,
        "wires": [
            [
                "2a5bed3b693562e4"
            ]
        ]
    },
    {
        "id": "0666cb29a70a9804",
        "type": "function",
        "z": "7c7a09edf982e2f4",
        "name": "GUID函数",
        "func": "let data = global.get(\"data\");\nlet common = global.get(\"common\");\n   \nlet guid = function(len, start) {\n    let result = 'xxxxxxxxxxxx4xxxyxxxxxxxxxxxxxxx'.replace(/[xy]/g, function(c){\n        let r = Math.random()*16|0;\n        let v = c == 'x' ? r : (r&0x3|0x8);\n        return v.toString(16);\n    })\n    len = len ? len : result.length;\n    return result.substr(start, len);\n}\n\ncommon.guid = guid;\n\nreturn {payload: data};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 360,
        "wires": [
            [
                "32b635bc5bbe8de1"
            ]
        ]
    },
    {
        "id": "37b0602a95288c0b",
        "type": "function",
        "z": "7c7a09edf982e2f4",
        "name": "Modbus解析函数",
        "func": "let data = global.get(\"data\");\nlet common = global.get(\"common\");\n\n\nvar CRCMaster = {\n    StringToCheck: \"\",\n    CleanedString: \"\",\n    CRCTableDNP: [],\n    init: function() {\n        this.CRCDNPInit();\n    },\n    CleanString: function(inputType) {\n        if (inputType == \"ASCII\") {\n            this.CleanedString = this.StringToCheck;\n        } else {\n            if (this.StringToCheck.match(/^[0-9A-F \\t]+$/gi) !== null) {\n                this.CleanedString = this._hexStringToString(this.StringToCheck.toUpperCase().replace(/[\\t ]/g, ''));\n            } else {\n                window.alert(\"String doesn't seem to be a valid Hex input.\");\n                return false;\n            }\n        }\n        return true;\n    },\n    CRCDNPInit: function() {\n        var i, j, crc, c;\n        for (i = 0; i < 256; i++) {\n            crc = 0;\n            c = i;\n            for (j = 0; j < 8; j++) {\n                if ((crc ^ c) & 0x0001) crc = (crc >> 1) ^ 0xA6BC;\n                else crc = crc >> 1;\n                c = c >> 1;\n            }\n            this.CRCTableDNP[i] = crc;\n        }\n    },\n    CRC16Modbus: function() {\n        var crc = 0xFFFF;\n        var str = this.CleanedString;\n        for (var pos = 0; pos < str.length; pos++) {\n            crc ^= str.charCodeAt(pos);\n            for (var i = 8; i !== 0; i--) {\n                if ((crc & 0x0001) !== 0) {\n                    crc >>= 1;\n                    crc ^= 0xA001;\n                } else\n                    crc >>= 1;\n            }\n        }\n        return crc;\n    },\n    _stringToBytes: function(str) {\n        var ch, st, re = [];\n        for (var i = 0; i < str.length; i++) {\n            ch = str.charCodeAt(i); // get char\n            st = []; // set up \"stack\"\n            do {\n                st.push(ch & 0xFF); // push byte to stack\n                ch = ch >> 8; // shift value down by 1 byte\n            }\n            while (ch);\n            // add stack contents to result\n            // done because chars have \"wrong\" endianness\n            re = re.concat(st.reverse());\n        }\n        // return an array of bytes\n        return re;\n    },\n    _byteToHexString: function(byte) {\n        let hex =\"00\" + byte.toString(16).toUpperCase();\n        hex = hex.substr(hex.length - 2);\n        return hex;\n    }, \n    _bytesToHexString: function(bytes) {\n        let str = \"\";\n        bytes.forEach(byte => {\n           str = str + \" \" + this._byteToHexString(byte);\n        })\n        return str.trim();\n    },    \n    _hexStringToString: function(inputstr) {\n        var hex = inputstr.toString(); //force conversion\n        var str = '';\n        for (var i = 0; i < hex.length; i += 2)\n            str += String.fromCharCode(parseInt(hex.substr(i, 2), 16));\n        return str;\n    },\n    CalculateStr: function(str, inputType) {\n        this.StringToCheck = str;\n        if (this.CleanString(inputType)) {\n            let crc = this.CRC16Modbus();\n            return {\n                low: crc & 0xFF,\n                high: crc >> 8 & 0xFF\n            }\n        }\n    },\n    CalculateBytes: function(bytes) {\n        let str = this._bytesToHexString(bytes);\n        return this.CalculateStr(str, \"HEX\");\n    }    \n};\n\nCRCMaster.init();\n\nlet splitRegAddr = function(regAddr, writeOffset ) {\n    let type = Math.floor(regAddr / 10000);\n    let addr = regAddr % 10000;\n    let func = -1;\n\n    if (writeOffset >=0) {\n        if (type == 0) func = 5 + writeOffset;\n        else if (type == 4) func = 6 + writeOffset;\n    } else {\n        if (type == 0) func = 1;\n        else if (type == 1) func = 2;\n        else if (type == 3) func = 4;\n        else if (type == 4) func = 3;\n    }\n\n    return {\n        func: func,\n        addr: addr\n    };\n}\n\n\nlet getRegOne = function(modAddr, regAddr) {\n    let funcAddr = splitRegAddr(regAddr, -1);\n    if (funcAddr.func != -1) {\n        let bytes = [];\n        bytes.push(modAddr);\n        bytes.push(funcAddr.func);\n        bytes.push(funcAddr.addr >> 8 & 0xFF);\n        bytes.push(funcAddr.addr & 0xFF);\n        bytes.push(0);\n        bytes.push(1);\n        let sum = common.CRC16.CalculateBytes(bytes);\n        bytes.push(sum.low);\n        bytes.push(sum.high);\n        return Buffer.from(bytes);\n    }\n    return funcAddr;\n}\n\n\nlet Modbus = function() {\n    this.addr = 1;\n    this.func = 0;\n    this.err = 0;\n    this.regs={};\n}\n\nModbus.prototype.CRC16 = CRCMaster;\nModbus.prototype.getRaw = function() {\n    \n};\n\ncommon.CRC16 = CRCMaster;\ncommon.modbus = {};\ncommon.modbus.splitRegAddr = splitRegAddr;\ncommon.modbus.getRegOne = getRegOne;\ncommon.modbus.setRegOne = null;\n\n\n\nreturn {payload: common};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 600,
        "wires": [
            [
                "f77d15f0cc88c3d7"
            ]
        ]
    },
    {
        "id": "24fcf5b3907cffbb",
        "type": "debug",
        "z": "7c7a09edf982e2f4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "filename",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 160,
        "wires": []
    },
    {
        "id": "e17cc419.56d918",
        "type": "change",
        "z": "19f64249bd0b1250",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.hd.cmd",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 260,
        "wires": [
            [
                "7e3ffbfb.277964"
            ]
        ]
    },
    {
        "id": "8e78e857.23e648",
        "type": "switch",
        "z": "19f64249bd0b1250",
        "name": "开关机",
        "property": "payload.pld.power",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 700,
        "wires": [
            [
                "d585282b.0f64a8"
            ],
            [
                "76e8e38a.464d3c"
            ]
        ]
    },
    {
        "id": "d585282b.0f64a8",
        "type": "change",
        "z": "19f64249bd0b1250",
        "name": "开机",
        "rules": [
            {
                "t": "set",
                "p": "payload.pld.code",
                "pt": "msg",
                "to": "06 00 00 00 01",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "76e8e38a.464d3c",
        "type": "change",
        "z": "19f64249bd0b1250",
        "name": "关机",
        "rules": [
            {
                "t": "set",
                "p": "payload.pld.code",
                "pt": "msg",
                "to": "06 00 00 00 00",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 569,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "65022b8d.7a60d4",
        "type": "change",
        "z": "19f64249bd0b1250",
        "name": "制冷",
        "rules": [
            {
                "t": "set",
                "p": "payload.pld.code",
                "pt": "msg",
                "to": "06 00 01 00 01",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "3ef7145a.fcb44c",
        "type": "change",
        "z": "19f64249bd0b1250",
        "name": "制热",
        "rules": [
            {
                "t": "set",
                "p": "payload.pld.code",
                "pt": "msg",
                "to": "06 00 01 00 02",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "6e791c6b.a9a374",
        "type": "switch",
        "z": "19f64249bd0b1250",
        "name": "制冷热",
        "property": "payload.pld.mode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "cool",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "heat",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 540,
        "wires": [
            [
                "65022b8d.7a60d4"
            ],
            [
                "3ef7145a.fcb44c"
            ]
        ]
    },
    {
        "id": "e8894370.263cf",
        "type": "change",
        "z": "19f64249bd0b1250",
        "name": "",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 700,
        "wires": [
            [
                "6e791c6b.a9a374",
                "3a0d4459.6fe71c",
                "8e78e857.23e648"
            ]
        ]
    },
    {
        "id": "56638f5d.769a7",
        "type": "change",
        "z": "19f64249bd0b1250",
        "name": "查询",
        "rules": [
            {
                "t": "set",
                "p": "payload.pld.code",
                "pt": "msg",
                "to": "A0 01 00 00 00 00 00",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.hd.stp",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "403a3a0e.6a77f4",
        "type": "inject",
        "z": "19f64249bd0b1250",
        "name": "查询",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "e17cc419.56d918"
            ]
        ]
    },
    {
        "id": "3a0d4459.6fe71c",
        "type": "function",
        "z": "19f64249bd0b1250",
        "name": "查询",
        "func": "if (!msg.payload || !msg.payload.pld)\n    return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 820,
        "wires": [
            [
                "56638f5d.769a7"
            ]
        ]
    },
    {
        "id": "ecf98ea.e2e7b7",
        "type": "inject",
        "z": "19f64249bd0b1250",
        "name": "关闭",
        "props": [
            {
                "p": "payload.pld.power",
                "v": "off",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "e17cc419.56d918"
            ]
        ]
    },
    {
        "id": "6ce720b0.dee5a",
        "type": "inject",
        "z": "19f64249bd0b1250",
        "name": "开启",
        "props": [
            {
                "p": "payload.pld.power",
                "v": "on",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "e17cc419.56d918"
            ]
        ]
    },
    {
        "id": "ffa5053b.1b73c8",
        "type": "inject",
        "z": "19f64249bd0b1250",
        "name": "制热",
        "props": [
            {
                "p": "payload.pld.mode",
                "v": "heat",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "e17cc419.56d918"
            ]
        ]
    },
    {
        "id": "7cc863df.97572c",
        "type": "inject",
        "z": "19f64249bd0b1250",
        "name": "制冷",
        "props": [
            {
                "p": "payload.pld.mode",
                "v": "cool",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "e17cc419.56d918"
            ]
        ]
    },
    {
        "id": "7e3ffbfb.277964",
        "type": "change",
        "z": "19f64249bd0b1250",
        "name": "ESP8266x00c1cd77",
        "rules": [
            {
                "t": "set",
                "p": "payload.hd.did",
                "pt": "msg",
                "to": "ESP8266x00c1cd77",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 340,
        "wires": [
            [
                "e8894370.263cf"
            ]
        ]
    },
    {
        "id": "9d33e53f.ebc508",
        "type": "inject",
        "z": "19f64249bd0b1250",
        "name": "制热开机",
        "props": [
            {
                "p": "payload.pld.mode",
                "v": "heat",
                "vt": "str"
            },
            {
                "p": "payload.pld.power",
                "v": "on",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 120,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "8d0c1666.940458",
        "type": "function",
        "z": "19f64249bd0b1250",
        "name": "校验码",
        "func": "let Gree = {\n    Checksum: function(hexs) {\n        hexs=hexs.replace(/ /g, \",\");\n        hexs = hexs.split(\",\");\n        let sum = 0;\n        hexs.forEach(hex => {\n            if(hex.length > 0)\n              sum += parseInt(hex, 16);\n        })\n        sum = sum & 0xFF ^ 0xA5;\n        sum = \"00\" + sum;\n        sum = sum.substring(sum.length - 2);\n        return sum;\n    }\n};\n\nlet code = msg.payload.pld.code;\n\nlet sum = Gree.Checksum(code);\n\nmsg.payload.pld.code = code + \" \" + sum;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 260,
        "wires": [
            [
                "346ce031.0dfb3"
            ]
        ]
    },
    {
        "id": "65f48548.7f71bc",
        "type": "inject",
        "z": "19f64249bd0b1250",
        "name": "读取",
        "props": [
            {
                "p": "payload.pld.code",
                "v": "A0 01 00 00 00 00 00",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 980,
        "y": 260,
        "wires": [
            [
                "8d0c1666.940458"
            ]
        ]
    },
    {
        "id": "346ce031.0dfb3",
        "type": "debug",
        "z": "19f64249bd0b1250",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 260,
        "wires": []
    },
    {
        "id": "614b387d.a7d8b8",
        "type": "inject",
        "z": "19f64249bd0b1250",
        "name": "开冷20",
        "props": [
            {
                "p": "payload.pld.code",
                "v": "A1 01 00 10 00 14 00",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 970,
        "y": 340,
        "wires": [
            [
                "8d0c1666.940458"
            ]
        ]
    },
    {
        "id": "efbcea8c.44a658",
        "type": "inject",
        "z": "19f64249bd0b1250",
        "name": "关冷20",
        "props": [
            {
                "p": "payload.pld.code",
                "v": "A1 01 00 00 00 14 00",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 970,
        "y": 400,
        "wires": [
            [
                "8d0c1666.940458"
            ]
        ]
    },
    {
        "id": "6eac9ff2.af9e1",
        "type": "change",
        "z": "19f64249bd0b1250",
        "name": "加0x",
        "rules": [
            {
                "t": "set",
                "p": "payload.pld.code",
                "pt": "msg",
                "to": "\"0x\" & msg.payload.pld.code",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 960,
        "wires": [
            [
                "d3b3fd01983088d7",
                "ec2387ce840fafcd"
            ]
        ]
    },
    {
        "id": "8a8d3ea797df5b6e",
        "type": "function",
        "z": "19f64249bd0b1250",
        "name": "校验码",
        "func": "let Gree = {\n    Checksum: function(hexs) {\n        hexs=hexs.replace(/ /g, \",\");\n        hexs = hexs.split(\",\");\n        let sum = 0;\n        hexs.forEach(hex => {\n            if(hex.length > 0)\n              sum += parseInt(hex, 16);\n        })\n        sum = sum & 0xFF ^ 0xA5;\n        sum = \"00\" + sum;\n        sum = sum.substring(sum.length - 2);\n        return sum;\n    }\n};\n\nlet code = msg.payload.pld.code;\n\nlet sum = Gree.Checksum(code);\n\nmsg.payload.pld.code = code + \" \" + sum;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 960,
        "wires": [
            [
                "6eac9ff2.af9e1"
            ]
        ]
    },
    {
        "id": "d3b3fd01983088d7",
        "type": "debug",
        "z": "19f64249bd0b1250",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1290,
        "y": 880,
        "wires": []
    },
    {
        "id": "32b1fe87f55d86b3",
        "type": "function",
        "z": "19f64249bd0b1250",
        "name": "查询",
        "func": "if (!msg.payload || !msg.payload.pld) {\n    msg.payload = msg.payload || {};\n    msg.payload.pld = msg.payload.pld || {};\n    msg.payload.hd.stp = 2;\n    msg.payload.pld.code = \"A0 01 00 00 00 00 00\"\n    \n    return msg;\n}\n    \n\nlet pld = msg.payload.pld;\nlet mode = pld.mode || \"cool\";\nlet temp = pld.temperature || 20;\nlet power = pld.power || \"off\";\nlet fan = pld.fanSpeed || \"auto\";\n\n\nlet bMode = mode == \"cool\" ? 0b00000000 : 0b00100000;\nlet bPower = power == \"on\" ? 0b00010000 : 0b00000000;\nlet bFan =  fan == \"low\" ? 0b001 : \n            fan == \"medium\" ? 0b011 :\n            fan == \"high\" ? 0b101 : 0b000;\n            \nlet D0 = \"00\" + (bMode | bPower | bFan);\nlet D1 = \"00\";\nlet D2 = \"00\" + temp;\nlet D3 = \"00\";\n\nD0 = D0.substr(D0.length - 2);\nD2 = D2.substr(D2.length - 2);\n\nlet code = \"A1 01 00 \" + D0 + \" \" + D1 + \" \" + D2 + \" \" + D3\npld.code = code\n\n\nreturn msg;\n\n\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 960,
        "wires": [
            [
                "8a8d3ea797df5b6e"
            ]
        ]
    },
    {
        "id": "5b53c4356c4bfa68",
        "type": "inject",
        "z": "19f64249bd0b1250",
        "name": "查询",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 860,
        "wires": [
            [
                "f3e0b9d2faca958b"
            ]
        ]
    },
    {
        "id": "f3e0b9d2faca958b",
        "type": "change",
        "z": "19f64249bd0b1250",
        "name": "cmd=3",
        "rules": [
            {
                "t": "set",
                "p": "payload.hd.cmd",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 960,
        "wires": [
            [
                "62dc86dc9c79cdf7"
            ]
        ]
    },
    {
        "id": "62dc86dc9c79cdf7",
        "type": "change",
        "z": "19f64249bd0b1250",
        "name": "ESP8266x00c1cd77",
        "rules": [
            {
                "t": "set",
                "p": "payload.hd.did",
                "pt": "msg",
                "to": "ESP8266x00c1cd77",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 960,
        "wires": [
            [
                "32b1fe87f55d86b3"
            ]
        ]
    },
    {
        "id": "f010e0f336aef9a1",
        "type": "inject",
        "z": "19f64249bd0b1250",
        "name": "开启",
        "props": [
            {
                "p": "payload.pld.power",
                "v": "on",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 920,
        "wires": [
            [
                "f3e0b9d2faca958b"
            ]
        ]
    },
    {
        "id": "41fa370f38b8567e",
        "type": "inject",
        "z": "19f64249bd0b1250",
        "name": "关闭",
        "props": [
            {
                "p": "payload.pld.power",
                "v": "off",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 130,
        "y": 960,
        "wires": [
            [
                "f3e0b9d2faca958b"
            ]
        ]
    },
    {
        "id": "ec2387ce840fafcd",
        "type": "link out",
        "z": "19f64249bd0b1250",
        "name": "",
        "mode": "link",
        "links": [
            "f4460e5db856239e"
        ],
        "x": 1235,
        "y": 960,
        "wires": []
    },
    {
        "id": "bf7b3e0c1bb7737f",
        "type": "mqtt in",
        "z": "5cebb8291db047dc",
        "name": "南向订阅",
        "topic": "",
        "qos": "2",
        "datatype": "auto",
        "broker": "acbe893ce0e86722",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 460,
        "y": 380,
        "wires": [
            [
                "2908c0e85e331343"
            ]
        ]
    },
    {
        "id": "b54a20b9094ed6fb",
        "type": "link in",
        "z": "5cebb8291db047dc",
        "name": "南向订阅",
        "links": [
            "9e37d384371f67cd",
            "1d752f42c9305449",
            "6bb67d699183c871"
        ],
        "x": 165,
        "y": 380,
        "wires": [
            [
                "a33fdc542c669b38"
            ]
        ]
    },
    {
        "id": "4409a5474178a44d",
        "type": "link in",
        "z": "5cebb8291db047dc",
        "name": "南向输出",
        "links": [
            "8a709b1a39d198bd"
        ],
        "x": 165,
        "y": 420,
        "wires": [
            [
                "c8a2e9f178535368"
            ]
        ]
    },
    {
        "id": "c8a2e9f178535368",
        "type": "function",
        "z": "5cebb8291db047dc",
        "name": "主题",
        "func": "msg.topic = \"0/0/0/0/dev/\" + msg.id + \"/0/0\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 420,
        "wires": [
            [
                "f79e3ab6a4818600",
                "40e43b6e928dd604"
            ]
        ]
    },
    {
        "id": "df9c945be4accaec",
        "type": "link out",
        "z": "5cebb8291db047dc",
        "name": "南向输入",
        "mode": "link",
        "links": [
            "6e1b243376ea48e3"
        ],
        "x": 1015,
        "y": 380,
        "wires": []
    },
    {
        "id": "817cca931c84ccae",
        "type": "mqtt in",
        "z": "5cebb8291db047dc",
        "name": "北向订阅",
        "topic": "",
        "qos": "2",
        "datatype": "json",
        "broker": "b5ef31a7a90ee4e8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 460,
        "y": 660,
        "wires": [
            [
                "f60ea9370cbbec13"
            ]
        ]
    },
    {
        "id": "a8d748a92d2ea486",
        "type": "link in",
        "z": "5cebb8291db047dc",
        "name": "北向订阅",
        "links": [
            "717675b7e9e6ca34",
            "1d752f42c9305449",
            "6bb67d699183c871"
        ],
        "x": 175,
        "y": 660,
        "wires": [
            [
                "9e67994f492ba542"
            ]
        ]
    },
    {
        "id": "759b06c2074c4c05",
        "type": "link in",
        "z": "5cebb8291db047dc",
        "name": "北向输出From",
        "links": [
            "58223b63f110e16a"
        ],
        "x": 175,
        "y": 720,
        "wires": [
            [
                "67dd5b8f1c0e282b"
            ]
        ]
    },
    {
        "id": "b904c5ad0ee9fb12",
        "type": "link out",
        "z": "5cebb8291db047dc",
        "name": "北向输入",
        "mode": "link",
        "links": [
            "44b456873768ef74"
        ],
        "x": 805,
        "y": 660,
        "wires": []
    },
    {
        "id": "f79e3ab6a4818600",
        "type": "mqtt out",
        "z": "5cebb8291db047dc",
        "name": "南向发布",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "66b4785037bf6386",
        "x": 460,
        "y": 420,
        "wires": []
    },
    {
        "id": "63c3c17c28d43547",
        "type": "mqtt out",
        "z": "5cebb8291db047dc",
        "name": "北向发布",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e17e911f7907092f",
        "x": 480,
        "y": 760,
        "wires": []
    },
    {
        "id": "ddb6b7a0c3df6b4d",
        "type": "function",
        "z": "5cebb8291db047dc",
        "name": "设备ID",
        "func": "msg.topics = msg.topic.split(\"/\");\nmsg.id = msg.topics[3]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 380,
        "wires": [
            [
                "df9c945be4accaec",
                "ffaa9296975e4a48"
            ]
        ]
    },
    {
        "id": "f60ea9370cbbec13",
        "type": "function",
        "z": "5cebb8291db047dc",
        "name": "设备ID",
        "func": "msg.topics = msg.topic.split(\"/\");\nmsg.id = msg.topics[5]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 660,
        "wires": [
            [
                "b904c5ad0ee9fb12",
                "4d76e367e9c40ef6"
            ]
        ]
    },
    {
        "id": "e4fca1a0575656cf",
        "type": "http request",
        "z": "5cebb8291db047dc",
        "name": "shadows_get_plugins",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 640,
        "y": 80,
        "wires": [
            [
                "0e2d9a66dd1f7b68"
            ]
        ]
    },
    {
        "id": "ffca7a9a4511230a",
        "type": "inject",
        "z": "5cebb8291db047dc",
        "name": "shadows_get_plugins",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "5",
        "topic": "",
        "x": 220,
        "y": 80,
        "wires": [
            [
                "c7a34d67adef204f"
            ]
        ]
    },
    {
        "id": "1334d24fa81e1efc",
        "type": "inject",
        "z": "5cebb8291db047dc",
        "name": "shadows_get_devices",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 220,
        "y": 140,
        "wires": [
            [
                "1f62f1a8ce679ebe"
            ]
        ]
    },
    {
        "id": "0e2d9a66dd1f7b68",
        "type": "json",
        "z": "5cebb8291db047dc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 830,
        "y": 80,
        "wires": [
            [
                "1f62f1a8ce679ebe",
                "2459b3728c33b236"
            ]
        ]
    },
    {
        "id": "16bfbe93c19b8043",
        "type": "http request",
        "z": "5cebb8291db047dc",
        "name": "shadows_get_devices",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 640,
        "y": 140,
        "wires": [
            [
                "743934760184c5d8"
            ]
        ]
    },
    {
        "id": "743934760184c5d8",
        "type": "json",
        "z": "5cebb8291db047dc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 830,
        "y": 140,
        "wires": [
            [
                "4c2ad42c8de04c2d",
                "87182039aea544b8"
            ]
        ]
    },
    {
        "id": "c7a34d67adef204f",
        "type": "function",
        "z": "5cebb8291db047dc",
        "name": "获取插件",
        "func": "let data = global.get(\"data\")\nlet url = data.shadows.dio_url;\n\nmsg.url = url + \"/shadows_get_plugins\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 80,
        "wires": [
            [
                "e4fca1a0575656cf"
            ]
        ]
    },
    {
        "id": "1f62f1a8ce679ebe",
        "type": "function",
        "z": "5cebb8291db047dc",
        "name": "获取设备",
        "func": "let data = global.get(\"data\");\nlet url = data.shadows.dio_url;\n\n\nmsg = {}\nmsg.url = url + \"/shadows_get_devices\";\nmsg.payload = msg.payload || {}\nmsg.payload.edg_id = data.ids.edg\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 140,
        "wires": [
            [
                "16bfbe93c19b8043"
            ]
        ]
    },
    {
        "id": "2459b3728c33b236",
        "type": "link out",
        "z": "5cebb8291db047dc",
        "name": "获取插件输出",
        "mode": "link",
        "links": [
            "d36460ad49511b88"
        ],
        "x": 1005,
        "y": 80,
        "wires": []
    },
    {
        "id": "4c2ad42c8de04c2d",
        "type": "link out",
        "z": "5cebb8291db047dc",
        "name": "获取设备输出",
        "mode": "link",
        "links": [
            "eb4a388612ec1e4d",
            "b5034fa324ebdc56"
        ],
        "x": 1005,
        "y": 140,
        "wires": []
    },
    {
        "id": "4d76e367e9c40ef6",
        "type": "debug",
        "z": "5cebb8291db047dc",
        "name": "北向输入输出",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 620,
        "wires": []
    },
    {
        "id": "40e43b6e928dd604",
        "type": "debug",
        "z": "5cebb8291db047dc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 460,
        "wires": []
    },
    {
        "id": "48c87831be77034c",
        "type": "inject",
        "z": "5cebb8291db047dc",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 170,
        "y": 300,
        "wires": [
            [
                "e779382ba9516eeb"
            ]
        ]
    },
    {
        "id": "e779382ba9516eeb",
        "type": "function",
        "z": "5cebb8291db047dc",
        "name": "南向连接",
        "func": "let data = global.get(\"data\");\n// let common = global.get(\"common\");\n// data.mqtt.clientid = data.mqtt.clientid || (data.ids.edg + \"-\" + common.guid(8));\n\nmsg = {};\nmsg.action = \"connect\";\nmsg.broker = {\n    autoConnect: true,\n    cleansession: false,\n    force: false,\n    // clientid: data.mqtt.clientid\n}\nObject.assign(msg.broker, data.shadows.mqtt.south.broker);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 300,
        "wires": [
            [
                "d79d991c2c3e92d5",
                "a62721c5a510cccc"
            ]
        ]
    },
    {
        "id": "2c8aaa443656a9d2",
        "type": "inject",
        "z": "5cebb8291db047dc",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 170,
        "y": 600,
        "wires": [
            [
                "6b2e694bc989038c"
            ]
        ]
    },
    {
        "id": "6b2e694bc989038c",
        "type": "function",
        "z": "5cebb8291db047dc",
        "name": "北向连接",
        "func": "let data = global.get(\"data\");\n\nmsg = {};\nmsg.action = \"connect\";\nmsg.broker = {\n    autoConnect: true,\n    cleansession: false,\n    force: false,\n}\nObject.assign(msg.broker, data.shadows.mqtt.north.broker);\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 600,
        "wires": [
            [
                "f61afc0b37475473",
                "5e757e4b456286a1"
            ]
        ]
    },
    {
        "id": "87182039aea544b8",
        "type": "debug",
        "z": "5cebb8291db047dc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 100,
        "wires": []
    },
    {
        "id": "d79d991c2c3e92d5",
        "type": "function",
        "z": "5cebb8291db047dc",
        "name": "south_input",
        "func": "let common = global.get(\"common\");\n \nmsg.broker.clientid = \"south_input_\" + common.guid(8)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 280,
        "wires": [
            [
                "bf7b3e0c1bb7737f"
            ]
        ]
    },
    {
        "id": "a62721c5a510cccc",
        "type": "function",
        "z": "5cebb8291db047dc",
        "name": "south_output",
        "func": "let common = global.get(\"common\");\n\nmsg.broker.clientid = \"south_output_\" + common.guid(8)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 320,
        "wires": [
            [
                "f79e3ab6a4818600"
            ]
        ]
    },
    {
        "id": "f61afc0b37475473",
        "type": "function",
        "z": "5cebb8291db047dc",
        "name": "north_input",
        "func": "let common = global.get(\"common\");\n \nmsg.broker.clientid = \"north_input_\" + common.guid(8)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 580,
        "wires": [
            [
                "817cca931c84ccae",
                "c90a4f8ca243faf5"
            ]
        ]
    },
    {
        "id": "5e757e4b456286a1",
        "type": "function",
        "z": "5cebb8291db047dc",
        "name": "north_output",
        "func": "let common = global.get(\"common\");\n\nmsg.broker.clientid = \"north_output_\" + common.guid(8)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 620,
        "wires": [
            [
                "63c3c17c28d43547"
            ]
        ]
    },
    {
        "id": "c90a4f8ca243faf5",
        "type": "function",
        "z": "5cebb8291db047dc",
        "name": "北向入网订阅",
        "func": "let data = global.get(\"data\");\n\nlet id = data.ids.edg;\nlet topics = [\n    \"0/0/0/0/edg/\"+id+\"/evt/device_joined\",\n    \"0/0/0/0/edg/\"+id+\"/evt/device_leave\",\n    \"0/0/0/0/edg/\"+id+\"/evt/device_interview\",\n    ]\nnode.send([{\n        action: \"subscribe\",\n        topic: topics\n}, null])\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "2908c0e85e331343",
        "type": "function",
        "z": "5cebb8291db047dc",
        "name": "",
        "func": "\nif (Buffer.isBuffer(msg.payload))\n    return [msg, null];\nelse {\n    msg.payload = JSON.parse(msg.payload);\n    return [null, msg];\n}\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 380,
        "wires": [
            [
                "ddb6b7a0c3df6b4d"
            ],
            [
                "ddb6b7a0c3df6b4d"
            ]
        ]
    },
    {
        "id": "ffaa9296975e4a48",
        "type": "debug",
        "z": "5cebb8291db047dc",
        "name": "南北输入输出",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 300,
        "wires": []
    },
    {
        "id": "67dd5b8f1c0e282b",
        "type": "function",
        "z": "5cebb8291db047dc",
        "name": "主题From",
        "func": "if (!msg.topic)\n    msg.topic = \"0/0/dev/\" + msg.id + \"/0/0/0/0\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 720,
        "wires": [
            [
                "63c3c17c28d43547",
                "4abdc23b03f10577"
            ]
        ]
    },
    {
        "id": "4abdc23b03f10577",
        "type": "debug",
        "z": "5cebb8291db047dc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 840,
        "wires": []
    },
    {
        "id": "f1e5ab36b69fff92",
        "type": "function",
        "z": "5cebb8291db047dc",
        "name": "主题To",
        "func": "if(!msg.topic)\n    msg.topic = \"0/0/0/0/dev/\"+ msg.id +\"/0/0\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 820,
        "wires": [
            [
                "63c3c17c28d43547"
            ]
        ]
    },
    {
        "id": "f57a8ab6804a9b01",
        "type": "link in",
        "z": "5cebb8291db047dc",
        "name": "北向输出To",
        "links": [
            "b1545ad8b237ae2d",
            "1739a22b9100871f",
            "3d3a3ee73aaa9577",
            "8f85f4ec0e9b4413",
            "62c0c019487bf743"
        ],
        "x": 175,
        "y": 820,
        "wires": [
            [
                "f1e5ab36b69fff92"
            ]
        ]
    },
    {
        "id": "a33fdc542c669b38",
        "type": "function",
        "z": "5cebb8291db047dc",
        "name": "订阅主题",
        "func": "let topics = [\n    \"0/0/0/0/dev/\" + msg.id + \"/0/0\",\n    \"0/0/dev/\" + msg.id + \"/0/0/0/0\"\n    ]\n    \nreturn {\n        action: \"subscribe\",\n        topic: topics\n    }\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 380,
        "wires": [
            [
                "bf7b3e0c1bb7737f"
            ]
        ]
    },
    {
        "id": "9e67994f492ba542",
        "type": "function",
        "z": "5cebb8291db047dc",
        "name": "订阅主题",
        "func": "\nlet topics = [\n    \"0/0/0/0/dev/\" + msg.id + \"/0/0\",\n    \"0/0/dev/\" + msg.id + \"/0/0/0/0\"\n    ]\n    \nreturn {\n        action: \"subscribe\",\n        topic: topics\n    }\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 660,
        "wires": [
            [
                "817cca931c84ccae"
            ]
        ]
    },
    {
        "id": "8590583325d03bf1",
        "type": "comment",
        "z": "a7e9ad408343191c",
        "name": "设备入网",
        "info": "",
        "x": 140,
        "y": 120,
        "wires": []
    },
    {
        "id": "f0a708410d01c224",
        "type": "inject",
        "z": "a7e9ad408343191c",
        "name": "入网",
        "props": [
            {
                "p": "action",
                "v": "device_joined",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 330,
        "y": 220,
        "wires": [
            [
                "94551d4b5e18718f"
            ]
        ]
    },
    {
        "id": "58223b63f110e16a",
        "type": "link out",
        "z": "a7e9ad408343191c",
        "name": "",
        "mode": "link",
        "links": [
            "759b06c2074c4c05"
        ],
        "x": 875,
        "y": 240,
        "wires": []
    },
    {
        "id": "927b326833fb9110",
        "type": "inject",
        "z": "a7e9ad408343191c",
        "name": "脱网",
        "props": [
            {
                "p": "action",
                "v": "device_leave",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 330,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "e9cf99a0357779bf",
        "type": "function",
        "z": "a7e9ad408343191c",
        "name": "亚太5、6楼75台空调",
        "func": "\nlet devices = [\n\"ESP8266x002cb89d\",\n\"ESP8266x00cc4493\",\n\"ESP8266x002cb98e\",\n\"ESP8266x008d35f7\",\n\"ESP8266x00de16e7\",\n\"ESP8266x00de2887\",\n\"ESP8266x00de11be\",\n\"ESP8266x00de491e\",\n\"ESP8266x00de9a59\",\n\"ESP8266x00deac2d\",\n\"ESP8266x008d8e9b\",\n\"ESP8266x00dda0ca\",\n\"ESP8266x008d3835\",\n\"ESP8266x002cbd85\",\n\"ESP8266x002cb87b\",\n\"ESP8266x002b56e8\",\n\"ESP8266x006d2595\",\n\"ESP8266x002b5323\",\n\"ESP8266x002cba72\",\n\"ESP8266x006d255a\",\n\"ESP8266x006d255b\",\n\"ESP8266x008d3917\",\n\"ESP8266x002cbaba\",\n\"ESP8266x008d23a0\",\n\"ESP8266x00cc13c2\",\n\"ESP8266x002bb62f\",\n\"ESP8266x006d25c8\",\n\"ESP8266x008daf61\",\n\"ESP8266x008d38e4\",\n\"ESP8266x002bc48d\",\n\"ESP8266x00de81bb\",\n\"ESP8266x002cb83c\",\n\"ESP8266x00de49ac\",\n\"ESP8266x002cb89c\",\n\"ESP8266x006d749d\",\n\"ESP8266x006d262b\",\n\"ESP8266x002cc104\",\n\"ESP8266x008d37ac\",\n\"ESP8266x008cfe2c\",\n\"ESP8266x002cbaee\",\n\"ESP8266x00cc259d\",\n\"ESP8266x002cb6cf\",\n\"ESP8266x002bd87d\",\n\"ESP8266x008d37a2\",\n\"ESP8266x008dae52\",\n\"ESP8266x006d74f7\",\n\"ESP8266x006d25a5\",\n\"ESP8266x002c00f8\",\n\"ESP8266x00deadac\",\n\"ESP8266x008d35e4\",\n\"ESP8266x008d2e3c\",\n\"ESP8266x008d378b\",\n\"ESP8266x008d932e\",\n\"ESP8266x002cbd69\",\n\"ESP8266x006d25c6\",\n\"ESP8266x006d749f\",\n\"ESP8266x002b625f\",\n\"ESP8266x008d2e1c\",\n\"ESP8266x002b2026\",\n\"ESP8266x002bcc81\",\n\"ESP8266x002cbdc9\",\n\"ESP8266x006d2594\",\n\"ESP8266x002cb792\",\n\"ESP8266x008d3820\",\n\"ESP8266x008d3782\",\n\"ESP8266x008d35cc\",\n\"ESP8266x002cbbb2\",\n\"ESP8266x006d2583\",\n\"ESP8266x002b55d6\",\n\"ESP8266x006d2537\",\n\"ESP8266x002cb8f6\",\n\"ESP8266x008dc260\",\n\"ESP8266x002bb5d2\",\n\"ESP8266x00dddab2\",\n\"ESP8266x008d2334\"\n    ];\n    \nlet joinOrLeave = (idx) => {\n    let hd = {\n        entry: {\n            type: \"evt\",\n            id: msg.action\n        }\n    }\n\n    let pld = {\n        id: devices[idx],\n        app_id: \"ndiot\",\n        dom_id: \"nd\",\n        pid: null,\n        desc: \"福州/亚太/56楼格力空调/\" + (idx+1) +\"号\",\n        model: \"FZYTACGREE\",\n        vendor: \"ND\",\n        type: \"AC\"\n    }  \n    pld.name = pld.desc;\n    \n    \n    let topic = \"0/0/dev/\" + pld.id + \"/0/0/evt/\"+ hd.entry.id\n    \n    let _msg = {\n        id: pld.id,\n        payload: {\n            hd: hd,\n            pld: pld\n        },\n        topic: topic\n    }\n    \n    node.send(_msg);\n    \n\n}\n\nlet idx = 0;\n\nlet start = () => {\n    if(idx < devices.length) {\n        joinOrLeave(idx);\n        setTimeout(() => {\n            start();   \n        }, 1000)\n\n    }\n    idx++;\n}\n\nstart();\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 160,
        "wires": [
            [
                "8c3489842ec5c5ae",
                "58223b63f110e16a"
            ]
        ]
    },
    {
        "id": "8c3489842ec5c5ae",
        "type": "debug",
        "z": "a7e9ad408343191c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 160,
        "wires": []
    },
    {
        "id": "7b05cdb543d55079",
        "type": "function",
        "z": "a7e9ad408343191c",
        "name": "长乐/会展/空调",
        "func": "\nlet devices = [\n\"ESP8266x004ac032\",\n\"ESP8266x00c02bbb\",\n\"ESP8266x00c05283\",\n\"ESP8266x00c08aa9\",\n\"ESP8266x00c07ff8\",\n\"ESP8266x00c00186\",\n\"ESP8266x004a5bf8\",\n\"ESP8266x004a5971\",\n\"ESP8266x00c0504f\",\n\"ESP8266x00c03831\",\n\"ESP8266x00491ed3\"\n    ];\n    \nlet joinOrLeave = (idx) => {\n    let hd = {\n        entry: {\n            type: \"evt\",\n            id: msg.action\n        }\n    }\n\n    let pld = {\n        id: devices[idx],\n        app_id: \"ndiot\",\n        dom_id: \"test\",\n        pid: null,\n        desc: \"长乐/会展/空调/\" + (idx+10) +\"号\",\n        model: \"ACPGDTM7000F\",\n        vendor: \"ND\",\n        type: \"AC\"\n    }  \n    \n    \n    let topic = \"0/0/dev/\" + pld.id + \"/0/0/evt/\"+ hd.entry.id\n    \n    let _msg = {\n        id: pld.id,\n        payload: {\n            hd: hd,\n            pld: pld\n        },\n        topic: topic\n    }\n    \n    node.send(_msg);\n    \n\n}\n\nlet idx = 0;\n\nlet start = () => {\n    if(idx < devices.length) {\n        joinOrLeave(idx);\n        setTimeout(() => {\n            start();   \n        }, 1000)\n\n    }\n    idx++;\n}\n\nstart();\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 220,
        "wires": [
            [
                "58223b63f110e16a",
                "8c3489842ec5c5ae"
            ]
        ]
    },
    {
        "id": "b420914baa33ba39",
        "type": "function",
        "z": "a7e9ad408343191c",
        "name": "Z3协调器新ID",
        "func": "\nlet devices = [\n\"ndiotbcff4d06cf1d\"\n    ];\n    \nlet joinOrLeave = (idx) => {\n    let hd = {\n        entry: {\n            type: \"evt\",\n            id: msg.action\n        }\n    }\n\n    let pld = {\n        id: devices[idx],\n        app_id: \"ndiot\",\n        dom_id: \"test-nd\",\n        pid: null,\n        desc: \"长乐/会展/Z3协调器/\" + devices[idx] ,\n        model: \"COM-PENET-Z3\",\n        vendor: \"ND\",\n        type: \"CO\"\n    }  \n    \n    \n    let topic = \"0/0/dev/\" + pld.id + \"/0/0/evt/\"+ hd.entry.id\n    \n    let _msg = {\n        id: pld.id,\n        payload: {\n            hd: hd,\n            pld: pld\n        },\n        topic: topic\n    }\n    \n    node.send(_msg);\n    \n\n}\n\nlet idx = 0;\n\nlet start = () => {\n    if(idx < devices.length) {\n        joinOrLeave(idx);\n        setTimeout(() => {\n            start();   \n        }, 1000)\n\n    }\n    idx++;\n}\n\nstart();\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 280,
        "wires": [
            [
                "8c3489842ec5c5ae",
                "58223b63f110e16a"
            ]
        ]
    },
    {
        "id": "d5bcd897f2aece01",
        "type": "function",
        "z": "a7e9ad408343191c",
        "name": "云启232设备",
        "func": "\nlet devices = [\n\"ndiot485519614d25\",\n\"ndiot485519622888\"\n    ];\n    \nlet joinOrLeave = (idx) => {\n    let hd = {\n        entry: {\n            type: \"evt\",\n            id: msg.action\n        }\n    }\n\n    let pld = {\n        id: devices[idx],\n        app_id: \"ndiot\",\n        dom_id: \"yunqi\",\n        pid: null,\n        desc: \"武汉云启/232透传/\" + devices[idx] ,\n        model: \"COM-PENET\",\n        vendor: \"ND\",\n        type: \"\"\n    }  \n    \n    \n    let topic = \"0/0/dev/\" + pld.id + \"/0/0/evt/\"+ hd.entry.id\n    \n    let _msg = {\n        id: pld.id,\n        payload: {\n            hd: hd,\n            pld: pld\n        },\n        topic: topic\n    }\n    \n    node.send(_msg);\n    \n\n}\n\nlet idx = 0;\n\nlet start = () => {\n    if(idx < devices.length) {\n        joinOrLeave(idx);\n        setTimeout(() => {\n            start();   \n        }, 1000)\n\n    }\n    idx++;\n}\n\nstart();\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 340,
        "wires": [
            [
                "58223b63f110e16a"
            ]
        ]
    },
    {
        "id": "bb48c4c383e870fa",
        "type": "function",
        "z": "a7e9ad408343191c",
        "name": "485半双工透传",
        "func": "\nlet devices = [\n\"ndiotac0bfbc1cd77\"\n    ];\n    \nlet joinOrLeave = (idx) => {\n    let hd = {\n        entry: {\n            type: \"evt\",\n            id: msg.action\n        }\n    }\n\n    let pld = {\n        id: devices[idx],\n        app_id: \"ndiot\",\n        dom_id: \"test-nd\",\n        pid: null,\n        desc: \"485半双工透传/\" + devices[idx] ,\n        model: \"COM-PENET\",\n        vendor: \"ND\",\n        type: \"\"\n    }  \n    \n    \n    let topic = \"0/0/dev/\" + pld.id + \"/0/0/evt/\"+ hd.entry.id\n    \n    let _msg = {\n        id: pld.id,\n        payload: {\n            hd: hd,\n            pld: pld\n        },\n        topic: topic\n    }\n    \n    node.send(_msg);\n    \n\n}\n\nlet idx = 0;\n\nlet start = () => {\n    if(idx < devices.length) {\n        joinOrLeave(idx);\n        setTimeout(() => {\n            start();   \n        }, 1000)\n\n    }\n    idx++;\n}\n\nstart();\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 600,
        "wires": [
            [
                "58223b63f110e16a",
                "8c3489842ec5c5ae"
            ]
        ]
    },
    {
        "id": "b18d82ab5cb7f814",
        "type": "function",
        "z": "a7e9ad408343191c",
        "name": "云启Z3设备",
        "func": "\nlet devices = [\n\"ndiot84f3eb5dce30\"\n    ];\n    \nlet joinOrLeave = (idx) => {\n    let hd = {\n        entry: {\n            type: \"evt\",\n            id: msg.action\n        }\n    }\n\n    let pld = {\n        id: devices[idx],\n        app_id: \"ndiot\",\n        dom_id: \"yunqi\",\n        pid: null,\n        desc: \"武汉云启/Z3网关/\" + devices[idx] ,\n        model: \"COM-PENET-Z3\",\n        vendor: \"ND\",\n        type: \"CO\"\n    }  \n    \n    \n    let topic = \"0/0/dev/\" + pld.id + \"/0/0/evt/\"+ hd.entry.id\n    \n    let _msg = {\n        id: pld.id,\n        payload: {\n            hd: hd,\n            pld: pld\n        },\n        topic: topic\n    }\n    \n    node.send(_msg);\n    \n\n}\n\nlet idx = 0;\n\nlet start = () => {\n    if(idx < devices.length) {\n        joinOrLeave(idx);\n        setTimeout(() => {\n            start();   \n        }, 1000)\n\n    }\n    idx++;\n}\n\nstart();\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 380,
        "wires": [
            [
                "58223b63f110e16a"
            ]
        ]
    },
    {
        "id": "fa2b47ec7d94a32e",
        "type": "function",
        "z": "a7e9ad408343191c",
        "name": "云启485设备",
        "func": "\nlet devices = [\n\"ndiot485519666fc5\"\n    ];\n    \nlet joinOrLeave = (idx) => {\n    let hd = {\n        entry: {\n            type: \"evt\",\n            id: msg.action\n        }\n    }\n\n    let pld = {\n        id: devices[idx],\n        app_id: \"ndiot\",\n        dom_id: \"yunqi\",\n        pid: null,\n        desc: \"武汉云启/485透传/\" + devices[idx] ,\n        model: \"COM-PENET-HALF\",\n        vendor: \"ND\",\n        type: \"\"\n    }  \n    \n    \n    let topic = \"0/0/dev/\" + pld.id + \"/0/0/evt/\"+ hd.entry.id\n    \n    let _msg = {\n        id: pld.id,\n        payload: {\n            hd: hd,\n            pld: pld\n        },\n        topic: topic\n    }\n    \n    node.send(_msg);\n    \n\n}\n\nlet idx = 0;\n\nlet start = () => {\n    if(idx < devices.length) {\n        joinOrLeave(idx);\n        setTimeout(() => {\n            start();   \n        }, 1000)\n\n    }\n    idx++;\n}\n\nstart();\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 420,
        "wires": [
            [
                "58223b63f110e16a"
            ]
        ]
    },
    {
        "id": "94551d4b5e18718f",
        "type": "function",
        "z": "a7e9ad408343191c",
        "name": "测试设备",
        "func": "\nlet devices = [\n\"ndiot30839898b1f8\",\n\"ndiotac0bfbc1b48c\",\n\"ndiot3083989773c4\",\n\"ndiot9c9c1f8f8517\",\n\"ESP8266x009773c4\"\n    ];\n    \nlet joinOrLeave = (idx) => {\n    let hd = {\n        entry: {\n            type: \"evt\",\n            id: msg.action\n        }\n    }\n\n    let pld = {\n        id: devices[idx],\n        app_id: \"ndiot\",\n        dom_id: \"yunqi\",\n        pid: null,\n        desc: \"测试设备/\" + devices[idx] ,\n        model: \"RFIR-PENET-AC-GREE\",\n        vendor: \"ND\",\n        type: \"AC\"\n    }  \n    \n    \n    let topic = \"0/0/dev/\" + pld.id + \"/0/0/evt/\"+ hd.entry.id\n    \n    let _msg = {\n        id: pld.id,\n        payload: {\n            hd: hd,\n            pld: pld\n        },\n        topic: topic\n    }\n    \n    node.send(_msg);\n    \n\n}\n\nlet idx = 0;\n\nlet start = () => {\n    if(idx < devices.length) {\n        joinOrLeave(idx);\n        setTimeout(() => {\n            start();   \n        }, 1000)\n\n    }\n    idx++;\n}\n\nstart();\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 500,
        "wires": [
            [
                "58223b63f110e16a"
            ]
        ]
    },
    {
        "id": "2d9fa1d0d33c2055",
        "type": "function",
        "z": "183e27ab6ab701b7",
        "name": "topic",
        "func": "if(!msg.topic)\n    msg.topic = \"0/0/0/0/dev/\"+ msg.id +\"/0/0\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 280,
        "wires": [
            [
                "3d3a3ee73aaa9577"
            ]
        ]
    },
    {
        "id": "403959909c44c2a6",
        "type": "inject",
        "z": "183e27ab6ab701b7",
        "name": "handshake",
        "props": [
            {
                "p": "payload.hd",
                "v": "{\"cmd_id\":2,\"cmd_sid\":112}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 220,
        "y": 300,
        "wires": [
            [
                "960a3f7f22291e50"
            ]
        ]
    },
    {
        "id": "0c335d67c6f7a3fa",
        "type": "inject",
        "z": "183e27ab6ab701b7",
        "name": "reboot",
        "props": [
            {
                "p": "payload.hd",
                "v": "{\"cmd_id\":3, \"cmd_sid\":112}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 260,
        "wires": [
            [
                "960a3f7f22291e50"
            ]
        ]
    },
    {
        "id": "a7a8e80835907d3f",
        "type": "inject",
        "z": "183e27ab6ab701b7",
        "name": "penet",
        "props": [
            {
                "p": "payload.hd",
                "v": "{\"cmd_id\":7}",
                "vt": "json"
            },
            {
                "p": "payload.pld.60500",
                "v": "[246,1,1,1,249,111]",
                "vt": "bin"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 180,
        "wires": [
            [
                "960a3f7f22291e50"
            ]
        ]
    },
    {
        "id": "f9735e36d97b8c46",
        "type": "inject",
        "z": "183e27ab6ab701b7",
        "name": "resetconfig",
        "props": [
            {
                "p": "payload.hd",
                "v": "{\"cmd_id\":11}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 460,
        "wires": [
            [
                "960a3f7f22291e50"
            ]
        ]
    },
    {
        "id": "960a3f7f22291e50",
        "type": "change",
        "z": "183e27ab6ab701b7",
        "name": "",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 440,
        "wires": [
            [
                "0ad5bfb485b9b622"
            ]
        ]
    },
    {
        "id": "4b6ab02243b6c504",
        "type": "change",
        "z": "183e27ab6ab701b7",
        "name": "测试ndiot9c9c1f8f8517(8285)",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "ndiot9c9c1f8f8517",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 440,
        "wires": [
            [
                "2d9fa1d0d33c2055"
            ]
        ]
    },
    {
        "id": "4fb1d746fac6b451",
        "type": "inject",
        "z": "183e27ab6ab701b7",
        "name": "config",
        "props": [
            {
                "p": "payload.hd",
                "v": "{\"cmd_id\":1}",
                "vt": "json"
            },
            {
                "p": "payload.pld",
                "v": "{\"61007\":1152}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 500,
        "wires": [
            [
                "960a3f7f22291e50"
            ]
        ]
    },
    {
        "id": "2482db9b30092f9e",
        "type": "inject",
        "z": "183e27ab6ab701b7",
        "name": "debug=false",
        "props": [
            {
                "p": "payload.hd",
                "v": "{\"cmd_id\":1}",
                "vt": "json"
            },
            {
                "p": "payload.pld",
                "v": "{\"61006\":0}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 580,
        "wires": [
            [
                "960a3f7f22291e50"
            ]
        ]
    },
    {
        "id": "1470641b4f6cb569",
        "type": "inject",
        "z": "183e27ab6ab701b7",
        "name": "debug=true",
        "props": [
            {
                "p": "payload.hd",
                "v": "{\"cmd_id\":1}",
                "vt": "json"
            },
            {
                "p": "payload.pld",
                "v": "{\"61006\":1}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 620,
        "wires": [
            [
                "960a3f7f22291e50"
            ]
        ]
    },
    {
        "id": "f99eb80740153631",
        "type": "change",
        "z": "183e27ab6ab701b7",
        "name": "ndiotbcff4d06cf1d",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "ndiotbcff4d06cf1d",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 300,
        "wires": [
            [
                "2d9fa1d0d33c2055"
            ]
        ]
    },
    {
        "id": "885557c7b9d81138",
        "type": "change",
        "z": "183e27ab6ab701b7",
        "name": "ndiot30839898b1f8",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "ndiot30839898b1f8",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 400,
        "wires": [
            [
                "2d9fa1d0d33c2055"
            ]
        ]
    },
    {
        "id": "2fcbb420275f5c4c",
        "type": "change",
        "z": "183e27ab6ab701b7",
        "name": "云启ndiot485519614d25",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "ndiot485519614d25",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 500,
        "wires": [
            [
                "2d9fa1d0d33c2055"
            ]
        ]
    },
    {
        "id": "e838bf9d097f9359",
        "type": "inject",
        "z": "183e27ab6ab701b7",
        "name": "penet-on普米白板开",
        "props": [
            {
                "p": "payload.hd",
                "v": "{\"cmd_id\":7}",
                "vt": "json"
            },
            {
                "p": "payload.pld.60500",
                "v": "[246,1,1,1,249,111]",
                "vt": "bin"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 230,
        "y": 80,
        "wires": [
            [
                "960a3f7f22291e50"
            ]
        ]
    },
    {
        "id": "223ed3891a84c4e7",
        "type": "inject",
        "z": "183e27ab6ab701b7",
        "name": "penet-off普米白板关",
        "props": [
            {
                "p": "payload.hd",
                "v": "{\"cmd_id\":7}",
                "vt": "json"
            },
            {
                "p": "payload.pld.60500",
                "v": "[246,1,5,0,252,111]",
                "vt": "bin"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 230,
        "y": 120,
        "wires": [
            [
                "960a3f7f22291e50"
            ]
        ]
    },
    {
        "id": "3cca2b3903afbe1f",
        "type": "change",
        "z": "183e27ab6ab701b7",
        "name": "云启ndiot485519622888",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "ndiot485519622888",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 540,
        "wires": [
            [
                "2d9fa1d0d33c2055"
            ]
        ]
    },
    {
        "id": "93dafb3f48e8f8b1",
        "type": "change",
        "z": "183e27ab6ab701b7",
        "name": "485半双工ndiotac0bfbc1cd77",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "ndiotac0bfbc1cd77",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 700,
        "wires": [
            [
                "2d9fa1d0d33c2055"
            ]
        ]
    },
    {
        "id": "d493f92cd0be5b0f",
        "type": "inject",
        "z": "183e27ab6ab701b7",
        "name": "get",
        "props": [
            {
                "p": "payload.hd",
                "v": "{\"cmd_id\":4}",
                "vt": "json"
            },
            {
                "p": "payload.pld",
                "v": "{\"60007\":\"\",\"60008\":\"\",\"60009\":0,\"61013\":0,\"61035\":13}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 800,
        "wires": [
            [
                "960a3f7f22291e50"
            ]
        ]
    },
    {
        "id": "d01b635dfc252106",
        "type": "inject",
        "z": "183e27ab6ab701b7",
        "name": "update",
        "props": [
            {
                "p": "payload.hd",
                "v": "{\"cmd_id\":8 }",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 340,
        "wires": [
            [
                "960a3f7f22291e50"
            ]
        ]
    },
    {
        "id": "3d3a3ee73aaa9577",
        "type": "link out",
        "z": "183e27ab6ab701b7",
        "name": "",
        "mode": "link",
        "links": [
            "f57a8ab6804a9b01"
        ],
        "x": 1215,
        "y": 280,
        "wires": []
    },
    {
        "id": "f4b7bb6106d760c5",
        "type": "change",
        "z": "183e27ab6ab701b7",
        "name": "云启Z3-ndiot84f3eb5dce30",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "ndiot84f3eb5dce30",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 580,
        "wires": [
            [
                "2d9fa1d0d33c2055"
            ]
        ]
    },
    {
        "id": "e4a06127bd9800ae",
        "type": "change",
        "z": "183e27ab6ab701b7",
        "name": "云启485-ndiot485519666fc5",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "ndiot485519666fc5",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 620,
        "wires": [
            [
                "2d9fa1d0d33c2055"
            ]
        ]
    },
    {
        "id": "e400283952bb78e9",
        "type": "inject",
        "z": "183e27ab6ab701b7",
        "name": "get-ota-url",
        "props": [
            {
                "p": "payload.hd.entry.id",
                "v": "get",
                "vt": "str"
            },
            {
                "p": "payload.pld",
                "v": "{\"ota_update_url\":\"\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 840,
        "wires": [
            [
                "960a3f7f22291e50"
            ]
        ]
    },
    {
        "id": "df2791daf68a9477",
        "type": "inject",
        "z": "183e27ab6ab701b7",
        "name": "intranet",
        "props": [
            {
                "p": "payload.hd.entry.id",
                "v": "intranet",
                "vt": "str"
            },
            {
                "p": "payload.pld",
                "v": "{\"intranet_mqtt_ip\":\"192.168.14.88\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 880,
        "wires": [
            [
                "960a3f7f22291e50"
            ]
        ]
    },
    {
        "id": "7dc3b11fea78cfc6",
        "type": "inject",
        "z": "183e27ab6ab701b7",
        "name": "sniff=false",
        "props": [
            {
                "p": "payload.hd",
                "v": "{\"cmd_id\":17}",
                "vt": "json"
            },
            {
                "p": "payload.pld",
                "v": "{\"rfir_sniff_enable\":0}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 680,
        "wires": [
            [
                "960a3f7f22291e50"
            ]
        ]
    },
    {
        "id": "efb42f7cf9a57594",
        "type": "inject",
        "z": "183e27ab6ab701b7",
        "name": "debug=true",
        "props": [
            {
                "p": "payload.hd",
                "v": "{\"cmd_id\":1}",
                "vt": "json"
            },
            {
                "p": "payload.pld",
                "v": "{\"61006\":1}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 720,
        "wires": [
            [
                "960a3f7f22291e50"
            ]
        ]
    },
    {
        "id": "2a07a16ed05e0297",
        "type": "change",
        "z": "183e27ab6ab701b7",
        "name": "ndiot3083989773c4",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "ndiot3083989773c4",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 360,
        "wires": [
            [
                "2d9fa1d0d33c2055"
            ]
        ]
    },
    {
        "id": "6497185aafd05fbd",
        "type": "change",
        "z": "183e27ab6ab701b7",
        "name": "ESP8266x009773c4",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "ESP8266x009773c4",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 820,
        "wires": [
            [
                "2d9fa1d0d33c2055"
            ]
        ]
    },
    {
        "id": "cc0458c4216c434c",
        "type": "change",
        "z": "183e27ab6ab701b7",
        "name": "东门4美的空调35",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "ESP8266x00c66764",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 880,
        "wires": [
            [
                "2d9fa1d0d33c2055"
            ]
        ]
    },
    {
        "id": "028b41fcb99a71d1",
        "type": "inject",
        "z": "183e27ab6ab701b7",
        "name": "get gpio 13",
        "props": [
            {
                "p": "payload.hd",
                "v": "{\"cmd_id\":15}",
                "vt": "json"
            },
            {
                "p": "payload.pld",
                "v": "{\"61035\":13}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 940,
        "wires": [
            [
                "960a3f7f22291e50"
            ]
        ]
    },
    {
        "id": "041ffd3cea7d605c",
        "type": "change",
        "z": "183e27ab6ab701b7",
        "name": "飘渺/3-PM2-F07",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "ESP8266x00c1a22a",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 1040,
        "wires": [
            [
                "2d9fa1d0d33c2055"
            ]
        ]
    },
    {
        "id": "f04548e4b628390d",
        "type": "change",
        "z": "183e27ab6ab701b7",
        "name": "东门4美的空调36",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "ESP8266x00c5f9c5",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 920,
        "wires": [
            [
                "2d9fa1d0d33c2055"
            ]
        ]
    },
    {
        "id": "0ad5bfb485b9b622",
        "type": "change",
        "z": "183e27ab6ab701b7",
        "name": "东门4美的空调37",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "ESP8266x002bab4d",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 960,
        "wires": [
            [
                "2d9fa1d0d33c2055"
            ]
        ]
    },
    {
        "id": "204bcd23787fdbe1",
        "type": "change",
        "z": "457c9236f8ae8f18",
        "name": "",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 80,
        "wires": [
            [
                "311aa20de9f73197"
            ]
        ]
    },
    {
        "id": "311aa20de9f73197",
        "type": "change",
        "z": "457c9236f8ae8f18",
        "name": "云启ndiot485519614d25",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "ndiot485519614d25",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 80,
        "wires": [
            [
                "1739a22b9100871f"
            ]
        ]
    },
    {
        "id": "0a673efec73c1cac",
        "type": "inject",
        "z": "457c9236f8ae8f18",
        "name": "penet-on普米白板开",
        "props": [
            {
                "p": "payload.hd",
                "v": "{\"cmd_id\":7}",
                "vt": "json"
            },
            {
                "p": "payload.pld.60500",
                "v": "[246,1,1,1,249,111]",
                "vt": "bin"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 230,
        "y": 60,
        "wires": [
            [
                "204bcd23787fdbe1"
            ]
        ]
    },
    {
        "id": "4e285a06bb14dc75",
        "type": "inject",
        "z": "457c9236f8ae8f18",
        "name": "penet-off普米白板关",
        "props": [
            {
                "p": "payload.hd",
                "v": "{\"cmd_id\":7}",
                "vt": "json"
            },
            {
                "p": "payload.pld.60500",
                "v": "[246,1,5,0,252,111]",
                "vt": "bin"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 230,
        "y": 100,
        "wires": [
            [
                "204bcd23787fdbe1"
            ]
        ]
    },
    {
        "id": "1739a22b9100871f",
        "type": "link out",
        "z": "457c9236f8ae8f18",
        "name": "",
        "mode": "link",
        "links": [
            "f57a8ab6804a9b01"
        ],
        "x": 965,
        "y": 80,
        "wires": []
    },
    {
        "id": "d9953b9a8b800f4b",
        "type": "change",
        "z": "9da2418aa0a6b57e",
        "name": "",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 320,
        "wires": [
            [
                "c1859ace3835c77d"
            ]
        ]
    },
    {
        "id": "be6cda4d590805b9",
        "type": "inject",
        "z": "9da2418aa0a6b57e",
        "name": "查询",
        "props": [
            {
                "p": "payload.hd.entry.type",
                "v": "svc",
                "vt": "str"
            },
            {
                "p": "payload.hd.entry.id",
                "v": "get",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 320,
        "wires": [
            [
                "d9953b9a8b800f4b"
            ]
        ]
    },
    {
        "id": "b1545ad8b237ae2d",
        "type": "link out",
        "z": "9da2418aa0a6b57e",
        "name": "",
        "mode": "link",
        "links": [
            "f57a8ab6804a9b01"
        ],
        "x": 945,
        "y": 320,
        "wires": []
    },
    {
        "id": "c1859ace3835c77d",
        "type": "change",
        "z": "9da2418aa0a6b57e",
        "name": "485半双工ndiotac0bfbc1cd77",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "ndiotac0bfbc1cd77",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 320,
        "wires": [
            [
                "b1545ad8b237ae2d"
            ]
        ]
    },
    {
        "id": "b04a50240032e56f",
        "type": "inject",
        "z": "9da2418aa0a6b57e",
        "name": "Power-on",
        "props": [
            {
                "p": "payload.hd.entry.type",
                "v": "svc",
                "vt": "str"
            },
            {
                "p": "payload.hd.entry.id",
                "v": "set",
                "vt": "str"
            },
            {
                "p": "payload.pld.power",
                "v": "on",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 400,
        "wires": [
            [
                "d9953b9a8b800f4b"
            ]
        ]
    },
    {
        "id": "1d752f42c9305449",
        "type": "link out",
        "z": "9da2418aa0a6b57e",
        "name": "",
        "mode": "link",
        "links": [
            "a8d748a92d2ea486",
            "b54a20b9094ed6fb"
        ],
        "x": 905,
        "y": 80,
        "wires": []
    },
    {
        "id": "441647dfde560880",
        "type": "inject",
        "z": "9da2418aa0a6b57e",
        "name": "Power-off",
        "props": [
            {
                "p": "payload.hd.entry.type",
                "v": "svc",
                "vt": "str"
            },
            {
                "p": "payload.hd.entry.id",
                "v": "set",
                "vt": "str"
            },
            {
                "p": "payload.pld.power",
                "v": "off",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 440,
        "wires": [
            [
                "d9953b9a8b800f4b"
            ]
        ]
    },
    {
        "id": "33c124f148a0983d",
        "type": "change",
        "z": "9da2418aa0a6b57e",
        "name": "云启485-ndiot485519666fc5",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "ndiot485519666fc5",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 460,
        "wires": [
            [
                "b1545ad8b237ae2d"
            ]
        ]
    },
    {
        "id": "4a2a626e2aefc03d",
        "type": "inject",
        "z": "9da2418aa0a6b57e",
        "name": "北方订阅",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 280,
        "y": 80,
        "wires": [
            [
                "4287143b36e3ee62"
            ]
        ]
    },
    {
        "id": "4287143b36e3ee62",
        "type": "change",
        "z": "9da2418aa0a6b57e",
        "name": "485半双工ndiotac0bfbc1cd77",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "ndiotac0bfbc1cd77",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 100,
        "wires": [
            [
                "1d752f42c9305449"
            ]
        ]
    },
    {
        "id": "fa1aa14c72f66187",
        "type": "inject",
        "z": "9da2418aa0a6b57e",
        "name": "mode-cool",
        "props": [
            {
                "p": "payload.hd.entry.type",
                "v": "svc",
                "vt": "str"
            },
            {
                "p": "payload.hd.entry.id",
                "v": "set",
                "vt": "str"
            },
            {
                "p": "payload.pld.mode",
                "v": "cool",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 180,
        "y": 520,
        "wires": [
            [
                "d9953b9a8b800f4b"
            ]
        ]
    },
    {
        "id": "5119599556303e10",
        "type": "inject",
        "z": "9da2418aa0a6b57e",
        "name": "mode-heat",
        "props": [
            {
                "p": "payload.hd.entry.type",
                "v": "svc",
                "vt": "str"
            },
            {
                "p": "payload.hd.entry.id",
                "v": "set",
                "vt": "str"
            },
            {
                "p": "payload.pld.mode",
                "v": "heat",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 180,
        "y": 560,
        "wires": [
            [
                "d9953b9a8b800f4b"
            ]
        ]
    },
    {
        "id": "6bb67d699183c871",
        "type": "link out",
        "z": "faa93e460ff11a6c",
        "name": "",
        "mode": "link",
        "links": [
            "a8d748a92d2ea486",
            "b54a20b9094ed6fb"
        ],
        "x": 905,
        "y": 280,
        "wires": []
    },
    {
        "id": "e46211d964be8ecb",
        "type": "inject",
        "z": "faa93e460ff11a6c",
        "name": "南北向订阅",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 280,
        "y": 280,
        "wires": [
            [
                "dd1b46b1ae5ea07d",
                "be67014cabbade7e",
                "0fc0155f883829c5",
                "34293ebe72191622"
            ]
        ]
    },
    {
        "id": "dd1b46b1ae5ea07d",
        "type": "change",
        "z": "faa93e460ff11a6c",
        "name": "云启ndiot485519614d25",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "ndiot485519614d25",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 200,
        "wires": [
            [
                "6bb67d699183c871"
            ]
        ]
    },
    {
        "id": "be67014cabbade7e",
        "type": "change",
        "z": "faa93e460ff11a6c",
        "name": "云启ndiot485519622888",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "ndiot485519622888",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 240,
        "wires": [
            [
                "6bb67d699183c871"
            ]
        ]
    },
    {
        "id": "0fc0155f883829c5",
        "type": "change",
        "z": "faa93e460ff11a6c",
        "name": "云启Z3-ndiot84f3eb5dce30",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "ndiot84f3eb5dce30",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 280,
        "wires": [
            [
                "6bb67d699183c871"
            ]
        ]
    },
    {
        "id": "34293ebe72191622",
        "type": "change",
        "z": "faa93e460ff11a6c",
        "name": "云启485-ndiot485519666fc5",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "ndiot485519666fc5",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 320,
        "wires": [
            [
                "6bb67d699183c871"
            ]
        ]
    },
    {
        "id": "95f6ffc4c65cfffe",
        "type": "change",
        "z": "faa93e460ff11a6c",
        "name": "云启232-ndiot485519614d25",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "ndiot485519614d25",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 680,
        "wires": [
            [
                "8f85f4ec0e9b4413"
            ]
        ]
    },
    {
        "id": "1ba2f9f8f0b1a1cb",
        "type": "comment",
        "z": "faa93e460ff11a6c",
        "name": "海信TV",
        "info": "",
        "x": 150,
        "y": 500,
        "wires": []
    },
    {
        "id": "e65e03c4d201234b",
        "type": "inject",
        "z": "faa93e460ff11a6c",
        "name": "查询",
        "props": [
            {
                "p": "payload.hd.entry.type",
                "v": "svc",
                "vt": "str"
            },
            {
                "p": "payload.hd.entry.id",
                "v": "get",
                "vt": "str"
            },
            {
                "p": "payload.hd.sid",
                "v": "aaaa",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 600,
        "wires": [
            [
                "95f6ffc4c65cfffe"
            ]
        ]
    },
    {
        "id": "8f85f4ec0e9b4413",
        "type": "link out",
        "z": "faa93e460ff11a6c",
        "name": "北向输出To",
        "mode": "link",
        "links": [
            "f57a8ab6804a9b01"
        ],
        "x": 965,
        "y": 680,
        "wires": []
    },
    {
        "id": "cb7b67918b5bebd7",
        "type": "change",
        "z": "faa93e460ff11a6c",
        "name": "云启232-ndiot485519622888",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "ndiot485519622888",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 560,
        "wires": [
            [
                "8f85f4ec0e9b4413"
            ]
        ]
    },
    {
        "id": "b8c5c6d6c30ffa37",
        "type": "inject",
        "z": "faa93e460ff11a6c",
        "name": "开机",
        "props": [
            {
                "p": "payload.hd.entry.type",
                "v": "svc",
                "vt": "str"
            },
            {
                "p": "payload.hd.entry.id",
                "v": "set",
                "vt": "str"
            },
            {
                "p": "payload.hd.sid",
                "v": "1234",
                "vt": "str"
            },
            {
                "p": "payload.pld",
                "v": "{\"power\":\"on\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 680,
        "wires": [
            [
                "95f6ffc4c65cfffe"
            ]
        ]
    },
    {
        "id": "97c836676ac8631f",
        "type": "inject",
        "z": "faa93e460ff11a6c",
        "name": "关机",
        "props": [
            {
                "p": "payload.hd.entry.type",
                "v": "svc",
                "vt": "str"
            },
            {
                "p": "payload.hd.entry.id",
                "v": "set",
                "vt": "str"
            },
            {
                "p": "payload.pld",
                "v": "{\"power\":\"off\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 740,
        "wires": [
            [
                "95f6ffc4c65cfffe"
            ]
        ]
    },
    {
        "id": "f1159b400936e4a7",
        "type": "inject",
        "z": "faa93e460ff11a6c",
        "name": "静音开",
        "props": [
            {
                "p": "payload.hd.entry.type",
                "v": "svc",
                "vt": "str"
            },
            {
                "p": "payload.hd.entry.id",
                "v": "set",
                "vt": "str"
            },
            {
                "p": "payload.pld",
                "v": "{\"mute\":\"on\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 800,
        "wires": [
            [
                "95f6ffc4c65cfffe"
            ]
        ]
    },
    {
        "id": "9003882531102dac",
        "type": "inject",
        "z": "faa93e460ff11a6c",
        "name": "静音关",
        "props": [
            {
                "p": "payload.hd.entry.type",
                "v": "svc",
                "vt": "str"
            },
            {
                "p": "payload.hd.entry.id",
                "v": "set",
                "vt": "str"
            },
            {
                "p": "payload.pld",
                "v": "{\"mute\":\"off\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 860,
        "wires": [
            [
                "95f6ffc4c65cfffe"
            ]
        ]
    },
    {
        "id": "c4a633d3d7689eb3",
        "type": "inject",
        "z": "faa93e460ff11a6c",
        "name": "音量50",
        "props": [
            {
                "p": "payload.hd.entry.type",
                "v": "svc",
                "vt": "str"
            },
            {
                "p": "payload.hd.entry.id",
                "v": "set",
                "vt": "str"
            },
            {
                "p": "payload.hd.sid",
                "v": "1111",
                "vt": "str"
            },
            {
                "p": "payload.pld",
                "v": "{\"volume\": 50}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 920,
        "wires": [
            [
                "95f6ffc4c65cfffe"
            ]
        ]
    },
    {
        "id": "c9f8076ce7a79d93",
        "type": "mqtt in",
        "z": "35c66c9d9511a052",
        "name": "bemfa",
        "topic": "",
        "qos": "2",
        "datatype": "utf8",
        "broker": "ec385154ba1b4fae",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 530,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "34510c05cebe0b5d",
        "type": "mqtt out",
        "z": "35c66c9d9511a052",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ec385154ba1b4fae",
        "x": 550,
        "y": 260,
        "wires": []
    },
    {
        "id": "c6f9c972212ed7f4",
        "type": "inject",
        "z": "35c66c9d9511a052",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ndiotbcff4d06cf1d1",
        "payload": "112334455112334455112334455112112334455112334455112334455112334455112334455112334455112334455112334455112334455112334455112334455112334455112334455112334455112334455112334455112334455112334455334455112334455112334455",
        "payloadType": "str",
        "x": 290,
        "y": 260,
        "wires": [
            [
                "34510c05cebe0b5d"
            ]
        ]
    },
    {
        "id": "aca16b4c2070fd62",
        "type": "inject",
        "z": "35c66c9d9511a052",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "26cc8fd46605f3b8",
        "type": "inject",
        "z": "35c66c9d9511a052",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ndiotbcff4d06cf1d1",
        "payload": "0",
        "payloadType": "str",
        "x": 330,
        "y": 340,
        "wires": [
            [
                "34510c05cebe0b5d"
            ]
        ]
    },
    {
        "id": "c39e300364bdf67a",
        "type": "change",
        "z": "e150bfc8bf45e848",
        "name": "",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 240,
        "wires": [
            [
                "bdaf1b0acf486110"
            ]
        ]
    },
    {
        "id": "326a10bab2261415",
        "type": "change",
        "z": "e150bfc8bf45e848",
        "name": "ndiot30839898b1f8",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "ndiot30839898b1f8",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 240,
        "wires": [
            [
                "4ad23c2b0dad587e"
            ]
        ]
    },
    {
        "id": "4ad23c2b0dad587e",
        "type": "function",
        "z": "e150bfc8bf45e848",
        "name": "topic",
        "func": "if(!msg.topic)\n    msg.topic = \"0/0/0/0/dev/\"+ msg.id +\"/0/0\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 220,
        "wires": [
            [
                "62c0c019487bf743"
            ]
        ]
    },
    {
        "id": "62c0c019487bf743",
        "type": "link out",
        "z": "e150bfc8bf45e848",
        "name": "",
        "mode": "link",
        "links": [
            "f57a8ab6804a9b01"
        ],
        "x": 1145,
        "y": 220,
        "wires": []
    },
    {
        "id": "386f29adece66322",
        "type": "inject",
        "z": "e150bfc8bf45e848",
        "name": "开",
        "props": [
            {
                "p": "payload.hd.entry.id",
                "v": "set",
                "vt": "str"
            },
            {
                "p": "payload.pld.power",
                "v": "on",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "c39e300364bdf67a"
            ]
        ]
    },
    {
        "id": "6c50e34b372aa592",
        "type": "change",
        "z": "e150bfc8bf45e848",
        "name": "测试ndiot9c9c1f8f8517(8285)",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "ndiot9c9c1f8f8517",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 300,
        "wires": [
            [
                "4ad23c2b0dad587e"
            ]
        ]
    },
    {
        "id": "f6fcccf62d4171d2",
        "type": "inject",
        "z": "e150bfc8bf45e848",
        "name": "关",
        "props": [
            {
                "p": "payload.hd.entry.id",
                "v": "set",
                "vt": "str"
            },
            {
                "p": "payload.pld.power",
                "v": "off",
                "vt": "str"
            },
            {
                "p": "payload.hd.sid",
                "v": "aaaassdfggdfdf",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "2",
        "topic": "",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "c39e300364bdf67a"
            ]
        ]
    },
    {
        "id": "6a1f5b7496e79556",
        "type": "inject",
        "z": "e150bfc8bf45e848",
        "name": "开25",
        "props": [
            {
                "p": "payload.hd.entry.id",
                "v": "set",
                "vt": "str"
            },
            {
                "p": "payload.pld.power",
                "v": "on",
                "vt": "str"
            },
            {
                "p": "payload.pld.temperature",
                "v": "25",
                "vt": "str"
            },
            {
                "p": "payload.pld.mode",
                "v": "cool",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 320,
        "wires": [
            [
                "c39e300364bdf67a"
            ]
        ]
    },
    {
        "id": "889ae61e5bae0d42",
        "type": "inject",
        "z": "e150bfc8bf45e848",
        "name": "开22",
        "props": [
            {
                "p": "payload.hd.entry.id",
                "v": "set",
                "vt": "str"
            },
            {
                "p": "payload.pld.power",
                "v": "on",
                "vt": "str"
            },
            {
                "p": "payload.pld.temperature",
                "v": "22",
                "vt": "str"
            },
            {
                "p": "payload.hd.sid",
                "v": "abdefdfsds",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 400,
        "wires": [
            [
                "c39e300364bdf67a"
            ]
        ]
    },
    {
        "id": "8252638ff3151fcb",
        "type": "change",
        "z": "e150bfc8bf45e848",
        "name": "东门4美的空调35",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "ESP8266x00c66764",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 400,
        "wires": [
            [
                "4ad23c2b0dad587e"
            ]
        ]
    },
    {
        "id": "0b1fa83be8cc47dd",
        "type": "change",
        "z": "e150bfc8bf45e848",
        "name": "ESP8266x009773c4",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "ESP8266x009773c4",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 440,
        "wires": [
            [
                "4ad23c2b0dad587e"
            ]
        ]
    },
    {
        "id": "dc4f0b23d6994aec",
        "type": "change",
        "z": "e150bfc8bf45e848",
        "name": "飘渺/3-PM2-F07",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "ESP8266x00c1a22a",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 480,
        "wires": [
            [
                "4ad23c2b0dad587e"
            ]
        ]
    },
    {
        "id": "60cd665c5f448871",
        "type": "change",
        "z": "e150bfc8bf45e848",
        "name": "东门4美的空调36",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "ESP8266x00c5f9c5",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 540,
        "wires": [
            [
                "4ad23c2b0dad587e"
            ]
        ]
    },
    {
        "id": "bdaf1b0acf486110",
        "type": "change",
        "z": "e150bfc8bf45e848",
        "name": "东门4美的空调37",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "ESP8266x002bab4d",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 600,
        "wires": [
            [
                "4ad23c2b0dad587e"
            ]
        ]
    }
]